beautifulsoup4==4.12.3
black==23.12.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
deep-translator==1.11.4
filelock==3.13.1
flake8==7.0.0
fsspec==2023.12.2
idna==3.6
isort==5.13.2
Jinja2==3.1.3
llvmlite==0.41.1
MarkupSafe==2.1.3
mccabe==0.7.0
more-itertools==10.2.0
mpmath==1.3.0
mypy-extensions==1.0.0
networkx==3.2.1
numba==0.58.1
numpy==1.26.3
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
packaging==23.2
pathspec==0.12.1
platformdirs==4.1.0
PyAudioWPatch==0.2.12.6
pycodestyle==2.11.1
pycparser==2.21
pyflakes==3.2.0
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
pywin32==306
regex==2023.12.25
requests==2.31.0
soundfile==0.12.1
soupsieve==2.5
SpeechRecognition==3.10.1
srt==3.5.3
sympy==1.12
tiktoken==0.5.2
torch==2.1.2
tqdm==4.66.1
typing_extensions==4.9.0
urllib3==2.1.0
vosk==0.3.45
websockets==12.0
